:root {
    --green: #91C631;
    --green-dark: #59972E;
    --blue: #142F3B;
    --blue-dark: #041821;
    --white: #FFFFFF;
    --laser: #E62F64;
}

body {
    height: 100vh;
    min-height: 600px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 300px;
    height: 420px;
    border-radius: 100px 100px 150px 150px;
}

/* Inicia Cabeza */
.cabeza {
    background-color: var(--green);
    height: 185px;
    border-radius: 100px 100px 0 0;
    position: relative;
}

.cabello {
    width: 70px;
    height: 80px;
    position: absolute;
    top: -30px;
    left: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.cabello div {
    background-color: var(--blue);
    border-radius: 10px;
}

.ojo {
    background-color: var(--blue);
    position: absolute;
    width: 85%;
    height: 55px;
    left: 0;
    bottom: 25px;
    border-radius: 0 30px 30px 0;
    overflow: hidden;
}

.ojo::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 300%;
    top: -45px;
    left: 50px;
    transform: rotate(40deg);
    background-color: var(--white);
    opacity: 0.2;
}

.ojo::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 300%;
    top: -45px;
    right: 50px;
    transform: rotate(40deg);
    background-color: var(--white);
    opacity: 0.2;
}

.oreja {
    width: 60px;
    height: 60px;
    background-color: var(--green);
    position: absolute;
    right: -30px;
    bottom: 25px;
    border-radius: 50%;
}

.oreja::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--blue);
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

.nariz {
    width: 40px;
    height: 15px;
    position: absolute;
    left: 80px;
    bottom: 0;
}

.nariz::before,
.nariz::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--blue);
    opacity: 0.6;
    bottom: 1px;
    border-radius: 50%;
}

.nariz::before {
    left: 0;
}

.nariz::after {
    right: 0;
}
/* Fin Cabeza */


/* Inicio Cuerpo */
.cuerpo {
    background-color: var(--blue);
    height: 235px;
    border-radius: 0 0 150px 150px;
    position: relative;
}

.boca {
    width: 170px;
    height: 120px;
    background-color: var(--green);
    border-radius: 0 0 90px 90px;
    margin-left: 30px;
    position: relative;
    top: -1px;
}

.boca::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--blue);
    top: 0;
    bottom: 0;
    right: 80px;
    margin: auto;
    border-radius: 50%;
}

.brazo-izq {
    width: 220px;
    height: 100px;
    background-color: var(--green-dark);
    position: absolute;
    left: -95px;
    top: 20px;
    z-index: -2;
    
    animation: brazo-izq 2s infinite;
}
/* aminacion */
@keyframes brazo-izq {
    0% {transform: rotate(0);}
    50% {transform: rotate(25deg);}
    100% {transform: rotate(0);}
}

.pistola {
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 50px;
    height: 120px;
    background-color: var(--blue-dark);
    border-radius: 30px;
}

.pistola::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 60px;
    background-color: var(--blue-dark);
    border-radius: 30px;
    top: -35px;
    right: -15px;
}

.pistola::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 20px;
    background-color: var(--white);
    top: -25px;
    right: 40px;
    border-radius: 30px;
    opacity: 0.6;
}

.laser {
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: var(--laser);
    right: 270px;
    top: -30px;
    border-radius: 40px;
}

.mano {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--green-dark);
    left: -30px;
    bottom: 0;
    border-radius: 20px;
}

.mano::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 35px;
    background-color: var(--green-dark);
    top: -50px;
    right: -45px;
    border-radius: 20px;
}

.mano::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 35px;
    background-color: var(--green);
    top: -25px;
    left: -20px;
    border-radius: 20px;
}

.brazo-der {
    position: absolute;
    width: 100px;
    height: 210px;
    background-color: var(--green);
    right: -45px;
    top: 20px;
    border-radius: 50px;
    z-index: 2;
}

.brazo-der::before {
    content: "";
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: var(--green);
    bottom: 0;
    right: -40px;
    border-radius: 50% 50% 50% 0;
}

.brazo-der::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 80px;
    background-color: var(--green-dark);
    left: -20px;
    bottom: 45px;
    border-radius: 20px 0 0 20px;
}

.pierna-izq,
.pierna-der {
    position: absolute;
    width: 80px;
    height: 140px;
}

.pierna-der {
    background-color: var(--blue-dark);
    left: 20px;
    z-index: -2;
}

.pierna-izq {
    background-color: var(--blue);
    right: 20px;
}

.pierna-der::after,
.pierna-izq::after {
    content: "";
    position: absolute;
    background-color: var(--green);
    width: 100%;
    height: 40px;
    bottom: 0;
    border-radius: 150px 150px 0 0;
}

.pierna-der::after {
    right: 20px;
}

.pierna-izq::after {
    right: 20px;
}

.botones {
    position: absolute;
    width: 18px;
    height: 76px;
    left: 95px;
    bottom: 30px;
    display: grid;
    grid-template-rows: repeat(3, 20px);
    grid-gap: 10px;
    opacity: 0.6;
}

.botones div {
    background-color: var(--white);
    border-radius: 50%;
}
/* Fin Cuerpo */